/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: lightyellow;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

nav button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: lightblue;
    color: blue;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

#questions-container {
    margin-top: 10px;
}

.question {
    margin-bottom: 10px;
}

.question input[type="text"], .question input[type="radio"] {
    margin-right: 10px;
}
